@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --green: #49fd01;
  --white: #f5f5f5;
  --gray: #cdcccc;
  --black: #121212;
}
html {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: var(--white);
}

body {
  background-color: var(--black);
  color: var(--white);
  
}
h1,
h2,
h3,
h4 {
  font-family: "Inter", sans-serif;
  color: white;
}
p {
  color: var(--gray);
  font-family: sans-serif;
}
button {
  border: none;
  outline: none;
  padding: 7px 28px;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.4s;
}
button:hover {
  scale: 0.8;
  box-shadow: 2px 2px 2px gray;
}
section {
  padding: 30px;
  margin-top: 30px;
}
main {
  padding: 50px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: var(--black);
  z-index: 9999;
}
#menu-btn {
  display: none;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
#menu-btn i {
  font-size: 20px;
}
header nav {
  display: flex;
  gap: 20px;
}
.special-link {
  color: var(--green);
}

/* hero */
#hero {
  background: url("./images/back.jpg");
  height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
#hero-inner {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-left: 20px;
  align-items: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#hero-inner h1 {
  color: var(--green);
  font-size: 30px;
}
#hero-inner p {
  text-shadow: 2px 2px 10px black;
  line-height: 1.5;
  color: #f5f5f5;
  font-family: sans-serif;
}
#hero-inner .buttons button:nth-child(1) {
  background-color: var(--green);
}

/* windows */
#window-sec {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.window-sec-info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.window-sec-info button {
  max-width: 500px;
  max-height: 60px;
}
.windows {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
.windows .window {
  min-width: 200px;
  height: 400px;
  background: url("./images/sec2.jpg");
  background-size: cover;
  background-attachment: fixed;
  border-radius: 40px 40px 0 0;
}
.windows .window:nth-child(2) {
  border-radius: 40px;
}
/* cards */
.card-sec-info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.cards .card video {
  max-width: 200px;
}
.cards .card {
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}
/* list */
#list-sec {
  margin: 50px 0;
}
#list-sec .info {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.info h2,
.info p {
  max-width: 400px;
}
#list-sec ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 40px;
}
#list-sec ul li img {
  width: 50px;
}
#list-sec ul li h1 span {
  color: var(--gray);
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 8%;
}
/* footer */
footer {
  margin-top: 100px;
  padding: 50px;
}
.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.link-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link-area form {
  display: flex;
  gap: 20px;
  max-width: 250px;
}
.link-area form input {
  padding: 8px 10px;
  border-radius: 10px;
  max-height: 50px;
  max-width: 250px;
  outline: none;
}
.link-area form button {
  background-color: var(--green);
  white-space: nowrap;
  max-width: 250px;
}
footer .bottom {
  text-align: center;
  color: var(--white);
  margin-top: 50px;
  border-top: 1px solid var(--gray);
  padding: 20px;
}
/* projects page */
.welcome {
  max-width: 1300px;
  font-size: 56px;
  padding: 100px;
  background-image: linear-gradient(270deg, #3ee5ec 0%, #ee74e1 100%);
  -webkit-background-clip: text; /*arkaplan rengini yaziya gecir. */
  -webkit-text-fill-color: transparent; /* yaziya rengi sabitle */
}
#what-sec {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  .info {
    max-width: 600px;
    h1 {
      margin-bottom: 20px;
    }
  }
  .cards {
    display: flex;
    gap: 100px;
    .what-card {
      min-width: 200px;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: #323443;
      gap: 20px;
      border-radius: 10px;
      padding: 30px 20px;
      position: relative;
      img {
        width: 50px;
        position: absolute;
        top: -40%;
      }
    }
  }
}
#project-sec {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .project {
    display: flex;
    gap: 40px;
    .project-image {
      display: flex;
      align-items: end;
      background-color: #323443;
      padding: 40px 60px 1px;
      position: relative;
      transition: transform 0.5s all;
      cursor: pointer;
      .icon {
        position: absolute;
        right: 5px;
        top: 5px;
        background-color: #414141;
      }
      &:hover {
        background-image: linear-gradient(
          45deg,
          #c899ff 0%,
          #43dce7 52%,
          #49f5a2 90%
        );
      }
    }
    .project-info {
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 700px;
    }
  }
}
/* team page */
#count-sec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .count-sec-left {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px 30px;
    .counter {
      /* From https://css.glass */
      background: rgba(48, 46, 46, 0.74);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      padding: 20px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      .boxes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        margin-top: 20px;
        text-align: center;
        .box {
          background-color: #000116;
          padding: 10px;
          border-radius: 10px;
        }
      }
    }
    .buttons {
      display: flex;
      gap: 20px;
      button {
        background-color: transparent;
        color: #fff;
        border: 1px solid #30a900;
        &:hover {
          background-color: #30a900;
        }
      }
    }
  }
  .count-sec-right {
    img {
      border-radius: 10px;
    }
  }
}
#images-sec {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  .img-card {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.56);
    border-radius: 20px;
    transition: all 0.9s;
    cursor: pointer;
    &:hover{
      scale: 0.8;
    }
    h4 {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: 20px;
      /* From https://css.glass */
      background: rgba(255, 255, 255, 0.19);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5.6px);
      -webkit-backdrop-filter: blur(5.6px);
      border: 1px solid rgba(255, 255, 255, 0.69);
      font-weight: bold;
      font-size: 20px;
    }
    img {
      border-radius: 20px;
    }
  }
}
#donation-sec{
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  .donate-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    h1{
      white-space: nowrap;
      margin-right: 20px;
    }
    button{
      white-space: nowrap;
    };
  }
  .donate-content{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    margin: 20px;
    gap: 40px;

    .donors{
      display: flex;
      justify-content: center;
      background-color: #640863;
      padding: 10px;
      border-radius: 60px;
      gap: 5px;
      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }

}

/* responsive */
@media (max-width: 1400px) {
#images-sec{
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 60px;
}
}
@media (max-width: 1200px) {
  #window-sec {
    flex-direction: column;
    align-items: center;
  }
  .windows .window {
    height: 300px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .card {
    max-width: 400px;
  }
  .card-sec-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #what-sec {
    flex-direction: column;
    gap: 100px;
    .info {
      p {
        max-width: unset;
      }
    }
  }
  .project {
    flex-direction: column-reverse;
    margin-bottom: 40px;
    .project-image {
      padding: 20px 100px 0;
      justify-content: center;
    }
  }
 
}
@media (max-width: 1000px) {
  .cards {
    grid-template-columns: 1fr;
  }
  footer .links {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 30px;
  }
  .link-area form {
    flex-direction: column;
  }
  .link-area form input {
    max-width: 400px;
  }
  .img-card{
    img{
      width: 300px;
    }
    h4{
      font-size: 15px;
    }
  }
  #donation-sec{
    .donate-content{
    display: grid;
    grid-template-columns: repeat(3, 200px);
  }}
}

@media (max-width: 800px) {
  header nav {
    display: none;
  }
  #menu-btn {
    display: block;
  }
  .show {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 75px;
    right: 5px;
    background-color: #323443;
    padding: 20px;
    border-radius: 20px;
  }
  nav a:hover {
    color: #30a900;
  }
  #hero {
    justify-content: center;
  }
  #hero-inner {
    margin: 40px;
  }
  #count-sec {
    flex-direction: column;
    gap: 50px;
  }
  #donation-sec{
    .donate-content{
    display: grid;
    grid-template-columns: repeat(2, 200px);
  }}
}
